.sectionInfo {
  font-family: var(--font-family);
  min-height: 100vh; /* antes era height, trocamos para min-height */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-bg);
  gap: 2rem;
  padding-top: 120px; /* espaço para o Header fixo */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .sectionInfo {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .sectionInfo {
    gap: 1.5rem;
    padding-top: 80px;
  }
}
