.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  padding: 2rem;
  gap: 2rem;
  z-index: 0;

  width: 100%;
  height: 100%;
  background-color: #121212; /* Dark background color */
  background-image: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 0
    ),
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 0),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 0);
  background-size: 40px 40px, 20px 20px, 20px 20px;
  position: relative;
  overflow: hidden;
}

.card h2 {
  z-index: 2;
  text-align: center;
  background: linear-gradient(90deg, #9845e8 0%, #33d2ff 55%, #dd5789 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255, 255, 255, 0.03) 10px,
    rgba(255, 255, 255, 0.03) 20px
  );
  z-index: 1;
  opacity: 0.8;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.07) 1px,
    transparent 1px
  );
  background-size: 60px 60px;
  z-index: 2;
  opacity: 0.6;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #111111;
  inset: 5px;
  border-radius: 15px;
  z-index: 1;
}

.contactInfo {
  width: 60%;
  z-index: 2;
  color: white;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
/*input */
.form input,
.form textarea {
  width: 100%;
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 0px;
  background: transparent;
  font-size: 18px;
}

.form input:active,
.form textarea:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.form textarea {
  resize: none;
  min-height: 120px;
}

/* botao enviar input*/
.form button {
  height: 50px;

  width: 100%;
  background: #111111;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #ffffff33 1px; /* leve transparência para suavizar */
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  -webkit-box-shadow: -1px -5px 15px #9845e855, 5px 5px 15px #33d2ff55,
    inset 5px 5px 10px #dd578955, inset -5px -5px 10px #9845e855;
  box-shadow: -1px -5px 15px #9845e855, 5px 5px 15px #33d2ff55,
    inset 5px 5px 10px #dd578955, inset -5px -5px 10px #9845e855;
}

.form button:hover {
  -webkit-box-shadow: 1px 1px 13px #9845e8aa, -1px -1px 13px #33d2ffaa;
  box-shadow: 1px 1px 13px #9845e8aa, -1px -1px 13px #33d2ffaa;
  color: #ffffff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.form button:active {
  -webkit-box-shadow: 1px 1px 13px #9845e8cc, -1px -1px 33px #33d2ffcc;
  box-shadow: 1px 1px 13px #9845e8cc, -1px -1px 33px #33d2ffcc;
  color: #ffffff;
  -webkit-transition: 100ms;
  transition: 100ms;
}

/* butao WhatsApp*/

.whatsappBtn {
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  padding: 12px 0px;
  background: #25d366;
  color: #111111;
  text-align: center;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.whatsappBtn:hover {
  background: #1ebe5d;
}
