.footer {
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: #111;
  position: relative;
  overflow: hidden;
  padding: 5rem 0 3rem 0;
  border-top: 1px solid #c6c6c6;
}

/* -- Box do perfil -- */
.boxProfile {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  z-index: 2;
  border-right: 1px solid #c6c6c6;
}

.cardProfile {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #9845e8;
  box-shadow: 0 0 25px #33d2ff55;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.boxProfile h3 {
  margin-top: 1rem;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.boxProfile p {
  color: #ddd;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.boxCall {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  gap: 1.2rem;
  z-index: 2;
}

.boxCall h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
}

.gradientText {
  background: linear-gradient(90deg, #9845e8, #33d2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boxCall p {
  color: #ccc;
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
}

.boxCall button {
  height: 50px;
  width: 100%;
  background: #111;
  border: 1px solid #ffffff33;
  font-size: 16px;
  color: #fff;
  transition: 400ms ease;
  border-radius: 8px;
  box-shadow: -1px -5px 15px #9845e855, 5px 5px 15px #33d2ff55,
    inset 5px 5px 10px #dd578955, inset -5px -5px 10px #9845e855;
  cursor: pointer;
}

.boxCall button:hover {
  box-shadow: 1px 1px 13px #9845e8aa, -1px -1px 13px #33d2ffaa;
}

.boxCall button:active {
  box-shadow: 1px 1px 20px #9845e8cc, -1px -1px 20px #33d2ffcc;
  transform: scale(0.98);
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .boxProfile,
  .boxCall {
    width: 80%;
    border-right: none;
  }

  .boxCall button {
    width: 80%;
    margin: 0 auto;
  }
}
